#attractions {
  padding: 0;
  @include backImage('../images/hotel/attractions.jpg');

  article {
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
    background: rgba($light, .8);
  }
}
