.background {
	color: $color-backgrounds;
	margin: 20px 0;
	width: 100%;
	display: table;

	.container {
		display: table-cell;
		vertical-align: bottom;
		padding-bottom: 20px;

		h1 {
			color: $yellow;
			font-family: $font-main;
			font-size: 5rem;
			line-height: 105%;
			margin-bottom: 0;
			padding: 0 10%;
		}

		p {
			padding: 0 10%;
			margin-top: 0;
		}
	}
}

.jumbotron {
	@include backImage(
		'../images/water.jpg',
		600px);
	margin-top: 0;
}

.bridge {
	@include backImage(
		'../images/bridge.jpg',
		300px, center center);
}