#dining {

  h1, h2 {
    color: $red;
    padding: 10px 0;
  } //headings

  img {
    width: 100%;
  } //img

    section {
      h2 {
        font-size: 1.2em;
        line-height: 120%;
        color: $pink;
      }

      p {
        padding-top: 10px;
        font-size: 1em;
        line-height: 130%;
      }
  } //breakpoint

  #roomservice {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }

} //dining
