#events {
  padding: 0;
  @include clearfix;

  .event {
    position: relative;

    .content {
      position: absolute;
      bottom: 0;
      background: rgba($dark, .7);
      padding: 30px;
      color: $light;
      font-weight: $thin;
      line-height: 130%;

      h2 {
        color: $light;
        line-height: 1em;
      }

      p {
        padding: 5px 0;
      }
    }

  } //event

  #businessmeetings {
    @include backImage('../images/hotel/events_conference.jpg', to right, 0, 0, 65% top);
  } //businessmeetings

  #weddings {
    @include backImage('../images/hotel/events_wedding.jpg', to left, 0, 0, 40% top);
  } //weddings
} //events
