footer {
  background: lighten($dark, 20);
  padding: 30px 0;
  #socialmedia {
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        img {
          width: 30px;
        } // img
      } //li
    } //ul
  } //social
}//footer
