.media {
  margin: 0;
  padding: 0;
  list-style: none;

  .item{
    padding: 10px;
    border-top: 1px dotted $color-item-border;
    &:hover{
      background: $yellow;
    }
    &:last-of-type{
      border-bottom: 1px dotted $color-item-border;
    }
    @include clearfix;
  }

  .head{
    margin: 0;
    padding: 0;
    color: $color-medial-head;
    font-size: 2rem;
    #typography &{
      color: $red;
    }
  }

  p{
    margin: 0;
    font-size: 1.5rem;
  }

  img{
    float: left;
    margin-right: 10px;
  }

  a{
    text-decoration: none;
    color: $color-main;
  }
}
