nav {
	header & {
		background-color: darken($blue, 15%);
	}

	.branding {
		float: left;
	}

	.branding h1 {
		font-size: 2.75rem;
		overflow: hidden;
		margin: 0;
		color: $yellow;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include clearfix;
	}

	ul li {
		float: right;
		padding: 10px 5px;
	}

	ul li a {
		text-decoration: none;
		padding: 10px 5px;
		color: $color-backgrounds;

		&:hover {			
			color: $yellow;
		}

		header &:hover {
			background-color: darken($blue, 20%);
		}

		footer & {
			color: white;
		}
	}
	footer & {
		margin-top:20px;
		min-height: 200px;
		background-color: darken($blue, 15%);
	}
}