#rooms {
  header {
    margin-bottom: 20px;
  } //header

  .room {
    padding: 200px 0;

    .content {
      background: rgba($light, .8);
      padding: 20px;

      h1 {
        color: $red;
      } //h1
    } //content
  } //room
  #piccadilly { @include backImage('../images/hotel/rooms_piccadilly.jpg');}
  #cambridge { @include backImage('../images/hotel/rooms_cambridge.jpg');}
  #westminster {@include backImage('../images/hotel/rooms_westminster.jpg');}
  #oxford {@include backImage('../images/hotel/rooms_oxford.jpg');}
  #victoria {@include backImage('../images/hotel/rooms_victoria.jpg');}
  #manchester {@include backImage('../images/hotel/rooms_manchester.jpg');}
} //rooms
