$color-even-cells: transparentize($yellow, .8);

.table {
  font-size: 1.5rem;
  text-align: left;
  width: 100%;

  caption {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 5px;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {

      &:hover {
        background-color: darken(adjust-hue($color-backgrounds, -20deg), 10%);
      }

      &:nth-child(even) {
        background-color: $color-even-cells;

        &:hover {
          background-color: opacify($color-even-cells, .3);
        }
      }
      > th,
      > td {
        padding: 10px;
        border-bottom: 1px dotted $blue;
      }
    }
  }

  >thead >tr {
    background-color: $blue;
    color: $color-backgrounds;
    &:hover {
      background-color: complement($blue);
    }
    >th {
      border-bottom :0;
    }
  }
}