#welcome {

  article {
    text-align: center;
  } //article

  h1 {
    font-weight: normal;
    line-height: 100%;
    color: darken($orange, 20);
    padding: 10px 0;
  } //h1

  .gallery {
    @include clearfix;
    img {
      display: none;
    } //img
  } //gallery
} //welcome
