body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
}

h1,h2,h3,h4,h5,h6 {
 font: $headFont;
 color: $blue;
 font-weight: $bold;
}

strong {
  font-weight: $bold;
}

p {
  font-weight: $thin;
  padding-bottom: 10px;
}
