$color-btn-text: $color-backgrounds;
$color-btn-default: $color-main;
$color-btn-hot: $red;
$color-btn-cool: $blue;
$roundness: 20px 0 20px 0;

%btn {
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-family: $font-highlight;
	user-select: none;
	color: $color-btn-text;
}

.btn-default {
	@extend %btn;
	background: $color-btn-default;
}

.btn-hot {
	@extend %btn;
	background: $color-btn-hot;
}

.btn-cool {
	@extend %btn;
	background: $color-btn-cool;
}

.grid {
	@include clearfix;
	.item {
		float: left;
		@include imagegrid(3, 2%);
	}
	img {
		display: block;
		border-radius: nth($roundness, 1);
		max-width: 100%;
	}
}