$offWhite: #EEE8D6;
// beige color
$darkBlue: #022933;
$yellow: #FFBA00;
$blue: #0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6D73C2;
$montserrat: 'Montserrat', Helvetica, sans-serif;
$openSans: 'Open Sans', Arial, sans-serif;

$color-main: $darkBlue;
$color-background: $offWhite;
$color-headlines: $purple;
$color-item-border: $red;
$color-medial-head: $blue;

$headingFont: $montserrat;
$bodyFont: $openSans;
