 html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: 'Helvetica', sans-serif;
  color: #022933;
  background-color: #EEE8D6;
}

.container {
  width: 80%;
  margin: 0 auto;
}