@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$offwhite:    #EEE8D6;
$darkblue:    #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;


$color-main: $darkblue;
$color-backgrounds: $offwhite;
$color-headlines: $red;

$font-main: 'Merriweather', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: $font-main;
  color: $color-main;
  background-color: $color-backgrounds;
}

.container {
  width: 80%;
  margin: 0 auto;
}


h1,h2,h3,h4,h5,h6 {
  font-family: $font-highlight;
  color: $color-headlines;
}