@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
// Variables
$offwhite:    #EEE8D6;
$darkest:     #022933;
$yellow:      #FFBA00;
$blue:        #0076A3;
$green:       #548C27;
$orange:      #F39856;
$red:         #D14348;
$purple:      #6D73C2;
$yellow:      #FFBA00;

$color-headlines: $red;
$color-subheads: $orange;
$color-main: $darkest;
$color-backgrounds: $offwhite;

$font-main:      'Open Sans', serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

// Base Styles
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 14px;
  font-size: 1.8rem;
  color: $color-main;
  background-color: $color-backgrounds;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-headlines;
  font-family: $font-highlight;
}

h2 {
  color: $color-subheads;
}

h3 {
  color: $color-subheads;
}

h3,h4,h5,h6 {
  font-family: $font-main;
}